@model IEnumerable<Tinytots.English.DTO.ViewModel.PageModel>
@{ 
    Layout = null;
}
@if (Model != null && Model.Count() > 0)
{

    <table class="table">
        <tr>
            <th>
                PAGE
            </th>            
            <th>ACTIONS</th>
        </tr>
        @{
            int page = 1;
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Page " + page, "Details", new { id = item.Id, lessonId = item.LessonId })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id, lessonId = item.LessonId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id, lessonId = item.LessonId })
                </td>
            </tr>
            page++;
        }
    </table>
}